@font-face {
  src: Url("../Font/Inter/Inter-VariableFont_opsz,wght.ttf");
  font-family: "intro";
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
  --main-color: rgb(173, 135, 180);
  --title-font-size:2rem;
  --font-size: 1rem;
}

:global(body) {
 padding-block: 2rem;
 @media screen {
  padding: 1rem;
  
 }
}

.section-title{
  position: relative;

}

.spann{
  position: absolute;
}
header {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: 50rem; */
  background-color: rgb(201, 170, 207);
}

nav {
  display: flex;
  align-items: start;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  /* padding: 200px; */
}

nav ul li a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.right {
  padding: 50px;
}

.right button {
  border-radius: 5px;
  border-width: 0.5px;
}

<!-- Demo styles -- > html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #977890;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 80%;
  height: 20%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #e9cfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* margin: 10px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .swiper-slide   img{
    width: 50%;
    height: 50%;

} */
